<?xml version='1.0' encoding='utf-8'?>
<widget id="com.igiveit.app.pub" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>IGiveIt</name>
    <description>
        I Give It - The Movie
    </description>
    <author email="igiveit@kirubakaran.com" href="http://cordova.io">
        K A
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="phonegap-version" value="3.6.3" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.transistorsoft.cordova.background-geolocation" />
</widget>
